In [11]:
import pandas as pd

In [15]:
#Uploading the data

xls = pd.ExcelFile('The_data.xlsx')

#Age and Sex
df_age_sex = pd.read_excel(xls, 'Age and Sex')
df_age_sex = df_age_sex.drop('YEAR', 1)


#elevation
df_elevation = pd.read_excel(xls, 'Elevation')
df_elevation['Elevation']=df_elevation['Elevation'].fillna("No Data")


#Marital Status
df_marital_status = pd.read_excel(xls, 'Marital Status')
df_marital_status = df_marital_status.drop('YEAR', 1)


#Educational Attainment
df_educational_attainment = pd.read_excel(xls, 'Educational Attainment')
df_educational_attainment = df_educational_attainment.drop('YEAR', 1)


#Types of Households
df_housing_units_type = pd.read_excel(xls, 'Housing Units Type')
df_housing_units_type = df_housing_units_type.drop('YEAR', 1)


#House Value
df_housing_value = pd.read_excel(xls, 'Housing Value')
df_housing_value = df_housing_value.drop('YEAR', 1)


#House Structure Age
df_year_house_built = pd.read_excel(xls, 'Year Structure Built')
df_year_house_built = df_year_house_built.drop('YEAR', 1)


#Vehicle Data
df_vehicles = pd.read_excel(xls, 'Vehicle Availability')
df_vehicles = df_vehicles.drop('YEAR', 1)

                 Subregion Elevation
0                Encinitas    82 ft.
1                Peninsula   No Data
2                 Coronado    16 ft.
3            National City    66 ft.
4   Southeastern San Diego   No Data
5                 Mid-City    62 ft.
6              Kearny Mesa   No Data
7                  Coastal   No Data
8               University   No Data
9                  Del Mar   112 ft.
10               Mira Mesa   No Data
11                   Poway   515 ft.
12                 Miramar   No Data
13          Elliott-Navajo   No Data
14              Sweetwater   No Data
15             Chula Vista    66 ft.
16               South Bay   No Data
17                   Jamul   997 ft.
18           Spring Valley   390 ft.
19             Lemon Grove   446 ft.
20                 La Mesa   528 ft.
21                El Cajon   433 ft.
22                  Santee   351 ft.
23                Lakeside   413 ft.
24          Harbison Crest   No Data
25                  Alpine  1834 ft.
26                  Ramona  1430 ft.
27            San Dieguito   No Data
28                Carlsbad    52 ft.
29               Oceanside   No Data
30               Pendleton   No Data
31               Escondido   646 ft.
32              San Marcos   No Data
33                   Vista   325 ft.
34           Valley Center  1312 ft.
35                   Pauma   No Data
36               Fallbrook   682 ft.
37                  Julian  4226 ft.
38      Laguna-Pine Valley   No Data
39         Mountain Empire   No Data
40    Anza-Borrego Springs   597 ft.