In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [52]:
#Uploading the data
xls = pd.ExcelFile('The_data.xlsx')

#Age and Sex
df_age_sex = pd.read_excel(xls, 'Age and Sex')
df_age_sex = df_age_sex.drop('YEAR', 1)
df_age_sex.columns = ["Sra", "AGE GROUP", "TOTAL", "MALE", "FEMALE"]


#elevation
df_elevation = pd.read_excel(xls, 'Elevation')
df_elevation['Elevation']=df_elevation['Elevation'].fillna("No Data")


#Marital Status
df_marital_status = pd.read_excel(xls, 'Marital Status')
df_marital_status = df_marital_status.drop('YEAR', 1)


#Educational Attainment
df_educational_attainment = pd.read_excel(xls, 'Educational Attainment')
df_educational_attainment = df_educational_attainment.drop('YEAR', 1)


#Types of Households
df_housing_units_type = pd.read_excel(xls, 'Housing Units Type')
df_housing_units_type = df_housing_units_type.drop('YEAR', 1)


#House Value
df_housing_value = pd.read_excel(xls, 'Housing Value')
df_housing_value = df_housing_value.drop('YEAR', 1)


#House Structure Age
df_year_house_built = pd.read_excel(xls, 'Year Structure Built')
df_year_house_built = df_year_house_built.drop('YEAR', 1)


#Vehicle Data
df_vehicles = pd.read_excel(xls, 'Vehicle Availability')
df_vehicles = df_vehicles.drop('YEAR', 1)

#Population Density
df_pop_density = pd.read_excel(xls, 'Population Density')

In [53]:
#Making a dataframe... with the data..

In [54]:
#The unique regions (SRAs) we have for the census data

regions = df_age_sex["Sra"].unique()
df_regions = pd.DataFrame(regions)
df_regions.columns = ["Region"]

In [55]:
#################################################################
# Our main dataframe that we'll use to create the SIR equations #
#################################################################

df = pd.DataFrame(data=regions, columns=["Region"])

In [56]:
#Adding median age to the df

median_age = df_age_sex[(len(df_age_sex) - 41):]
median_age = median_age["TOTAL"]
median_age.index=df.index

df['Median Age'] = (median_age)

In [57]:
#Adding house median value to the df

median_house_value = df_housing_value[(len(df_housing_value) - 41):]
median_house_value = median_house_value["NUMBER"]
median_house_value.index=df.index

df['Median House Value'] = (median_house_value)

In [58]:
#Population density...

df_pop_density = df_pop_density.sort_values("Neighborhood")

df['Population Density'] = ("n/a")
missing_data_df = pd.DataFrame([['Alpine', 569],['Anza-Borrego Springs',0],['Central San Diego',0],['Coastal',0],['Del Mar-Mira Mesa',6992],['Elliott-Navajo',6364],
                                ['Harbison-Crest',886],['Kearny Mesa',625],['Laguna-Pine Valley',24],['Mid-City',11237],['Miramar',397],['Mountain Empire',20],
                                ['North San Diego',0],['Palomar-Julian',11],['Pauma',82],['Peninsula',4696],['San Dieguito',0],['South Bay',0],
                                ['Southeastern San Diego',17908], ['Sweetwater',3362],['University',0],['Valley Center',833]], columns = ['Neighborhood', 'People per square mile'])
df_pop_density = pd.concat([df_pop_density, missing_data_df])
df_pop_density

              Neighborhood  People per square mile
23                  Bonita                    2710
36         Borrego Springs                      60
1                 Bostonia                    7930
34               Boulevard                      80
22                Carlsbad                    2840
20    Casa de Oro-Mt Helix                    2870
8              Chula Vista                    5000
21                Coronado                    2860
26                 Del Mar                    2460
35                Descanso                      60
2                 El Cajon                    6950
18               Encinitas                    3210
13               Escondido                    3940
27               Fallbrook                    1730
29           Granite Hills                    1190
31         Harbison Canyon                     450
5           Imperial Beach                    6400
37                 Jacumba                      20
32                   Jamul                     330
6                  La Mesa                    6350
4                 La Presa                    6490
25         Lake San Marcos                    2490
19                Lakeside                    3020
3              Lemon Grove                    6610
38            Mount Laguna                      10
0            National City                    8110
10               Oceanside                    4110
15               Pendleton                    3570
33             Pine Valley                     190
28                   Poway                    1240
..                     ...                     ...
24        Rancho San Diego                    2510
12               San Diego                    4070
16              San Marcos                    3500
17                  Santee                    3360
14            Solana Beach                    3700
11           Spring Valley                    4080
7                    Vista                    5090
9           Winter Gardens                    4590
0                   Alpine                     569
1     Anza-Borrego Springs                       0
2        Central San Diego                       0
3                  Coastal                       0
4        Del Mar-Mira Mesa                    6992
5           Elliott-Navajo                    6364
6           Harbison-Crest                     886
7              Kearny Mesa                     625
8       Laguna-Pine Valley                      24
9                 Mid-City                   11237
10                 Miramar                     397
11         Mountain Empire                      20
12         North San Diego                       0
13          Palomar-Julian                      11
14                   Pauma                      82
15               Peninsula                    4696
16            San Dieguito                       0
17               South Bay                       0
18  Southeastern San Diego                   17908
19              Sweetwater                    3362
20              University                       0
21           Valley Center                     833

[61 rows x 2 columns]

In [59]:
pd.options.mode.chained_assignment = None  # default='warn'


common_sras = []
common_sras_indices = []

for index, row in df.iterrows():
    if(df_pop_density['Neighborhood'].str.contains(row["Region"]).any()):
        common_sras.append(row["Region"])
        common_sras_indices.append(index)

for i in range(0,len(common_sras)):
    df["Population Density"][common_sras_indices[i]] = df_pop_density[df_pop_density["Neighborhood"] == common_sras[i]]
    x = df["Population Density"][common_sras_indices[i]]
    df["Population Density"][common_sras_indices[i]] = int(x["People per square mile"])

In [60]:
#Calculating the total population...

total_population = [0]*(len(regions))

k = 0
j = 0
for i in range(0, len(regions)): # i is for regions[]
    if(df_age_sex["Sra"][k] == regions[i]):
        j = k
        k = k + 20
        if(df_age_sex["Sra"][k] == "Mountain Empire"):
            #Because Miramar's data is wonky
            k = k - 4
        
        while(df_age_sex["Sra"][j] == regions[i]):
            total_population[i] += int(df_age_sex["TOTAL"][j])
            j += 1
            
#Add the Total Population column
df['Total Population'] = total_population

In [61]:
df

,Region,Median Age,Median House Value,Population Density,Total Population
0,Alpine,42.3,612870,569,15256
1,Anza-Borrego Springs,55.3,306852,0,4436
2,Carlsbad,40.8,613993,2840,114712
3,Central San Diego,34.4,521767,0,165582
4,Chula Vista,33.9,359311,5000,115234
5,Coastal,35.4,969973,0,75375
6,Coronado,31.3,1275412,2860,24697
7,Del Mar-Mira Mesa,37.0,639308,6992,158106
8,El Cajon,34.8,421170,6950,124552
9,Elliott-Navajo,37.4,516103,6364,89106
10,Escondido,33.5,437250,3940,162988
11,Fallbrook,41.5,584068,1730,47306
12,Harbison-Crest,46.4,464340,886,14649
13,Jamul,41.6,668772,330,16224
14,Kearny Mesa,34.7,472028,625,151208
15,Laguna-Pine Valley,46.6,449563,24,5274
16,Lakeside,36.8,395157,3020,55780
17,La Mesa,38.1,448296,6350,59069
18,Lemon Grove,34.7,383311,6610,29811
19,Mid-City,29.9,403950,11237,163047
20,Miramar,22.3,1583333,397,5025
21,Mountain Empire,39.2,313344,20,10452
22,National City,30.1,348555,8110,58318
23,North San Diego,38.3,582652,0,106005
24,Oceanside,34.5,429459,4110,159421
25,Palomar-Julian,51.8,362396,11,6271
26,Pauma,34.7,477650,82,7984
27,Pendleton,21.8,267857,3570,37451
28,Peninsula,33.2,774637,4696,62927
29,Poway,40.9,614860,1240,86311
30,Ramona,39.1,509459,580,34889
31,San Dieguito,41.9,834392,0,94128
32,San Marcos,35.2,446588,3500,89365
33,Santee,37.9,381513,3360,51151
34,South Bay,31.8,379590,0,134914
35,Southeastern San Diego,31.4,364596,17908,155805
36,Spring Valley,36.0,433408,4080,80995
37,Sweetwater,33.6,497775,3362,135191
38,University,27.5,568559,0,62727
39,Valley Center,44.5,566988,833,22837
40,Vista,32.8,446556,5090,100730